{% extends 'base.html' %}
{% load static %}

{% block title %}Pokedex - Enlaces{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="card shadow mx-auto" style="max-width: 700px;">
            <div class="card-body text-center">
                <h5 class="card-title">Videos relacionados a Pokemon</h5>
                <div class="map-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/0bqlzdb7P18?si=NxUpAAS_gvMdL2Jp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/bxbnoPiFl4w?si=kObn3xbjorruYL45" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Centro pokemon ubicación -->
    <div class="container my-5">
        <div class="card shadow mx-auto" style="max-width: 700px;">
            <div class="card-body text-center">
                <h5 class="card-title">Ubicación Pokémon Center</h5>
                <div class="map-container">
                    <iframe width="400px" height="400px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.8905640671132!2d139.7144535888001!3d35.72890985664363!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d6f044d6725%3A0x5c5c669ed9f5c455!2sPok%C3%A9mon%20Center%20Mega%20Tokyo%20%26%20Pikachu%20Sweets!5e0!3m2!1sen!2sdo!4v1772418454993!5m2!1sen!2sdo"></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
